.sequence{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    background-color: antiquewhite;
    box-shadow: 10px 10px 20px red;
    width: 500px;
    margin-left: 32%;
}

.diff_divs{
    margin-top: 20px;
}

.submit{
    margin-top: 20px;
}

#email{
    width: 290px;
}

#password{
    width: 290px;
}
